python-ws/.metadata
__pycache__
*.ncb
*.sln
*.suo
*.vcproj
*.user
*.o
*/Debug
*/Release
honeycaml/generated/*
*.native
*.byte
_build
play_icfp2015
*.tar.gz
log_*
*.log
*.html
temp.json
discovery.json
rankings.js